*{
    margin: 0;
    padding:0;
    font-family: Helvetica, sans-serif;
}

.links{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0px;
    box-shadow: 0 0.1rem 0.5rem #000;
    width: 100%;
    background-color:rgb(75, 53, 53);
    transition: all 0.5s;
}

.links ul{
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 3rem;  
    margin-right: 30px;
}

li {
    list-style-type: none;
}

li a{
    color: #ffffff;

}
.button{
    display: flex;
    background-color: white;
    width: 80px;
    padding: 7px;
    justify-content: center;
    border-radius: 4px;
    font-size: 10pt;
    border-style: double;
}

.startButton{
    
    background-color: whitesmoke;
    font-size: 16pt;
    display: flex;
    width:  200px;
    padding: 10px;
    justify-content: center;
    cursor: pointer;
    border-style: double;
    border-radius: 4px;

}
.container{
        /*Alterar o Display*/
    display: flex;
    justify-content: center;
    width: auto;
    padding: 10%;
    background-color:rgb(75, 53, 53);
    
}

.card{
  margin: 0 20px 0 20px;
    display: block;
    background-color: rgba(0,0,0); 
    padding: 200px; 
    border-radius: 4%; 
    box-shadow: 3px 3px 1px 0px #ddcece17; 
    
}
.div_shadow{
    display: center;
    background-color: white;
    width: 200px;
    height: 50px;
    box-shadow: 0 0 0 white;
    margin: 0 1em 1em 0;
}

h1{
  margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  color: white;}

.container_interno {
  display: flex;
  justify-content: space-around;

}